body{
    background-color: black;
}
.app{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.canvas-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.canvas-element{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1002px;
    max-height: 1148px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.canvas-element-header{
    padding: 5px;
    border-top-right-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: white;
}
.canvas-element-footer{
    padding: 5px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#pegi_12{
    height: 80px;
}
#blizzard_logo{
    height: 50px;
}
#logo_ps5{
    height: 30px;
}
canvas {
    border: 5px solid rgb(17, 96, 231);
    border-radius: 0 15px 15px 0;
    width: 70vh;
    height: 80vh;
    position: relative;
}
#canvas2{
    position: absolute;
    z-index: 2;
    bottom: 47px;
    right: 110px;
    height: 143px;
    width: 136px;
    border: unset;
    border-radius: 0;
}